<header>
  <h1>All Questions</h1>
</header>


<ul class="collection">
  <%@questions.each do |question| %>
  <li class="collection-item">
    <a href="/questions/<%=question.id%>"><li> <%= question.title %> </li></a>
    <i class="tiny material-icons">thumb_up</i>
    <i class="tiny material-icons">thumb_down</i>
    [ <%=question.get_total_votes%> Votes ]
    <% end %>
  </li>
</ul>

<!-- <div class="">
  <ul>
    <%@questions.each do |question| %>
    <%=question.get_total_votes%> |
    <i class="tiny material-icons">thumb_up</i>
    <i class="tiny material-icons">thumb_down</i>
    <a href="/questions/<%=question.id%>"><li> <%= question.title %> </li></a>
    <% end %>
  </ul>
</div> -->
