 <h1>	&nbsp; All Questions</h1>

<right>
    <%@questions.each do |question| %>
        <div class="question">
            <div class="votes">
                <div class="upvote">

                    <form class="upvote" action="/questions/<%=question.id%>/upvote" method="post">
                        <button type="submit" name="thumbsup">
                            <a href="#" class="tooltip"><img src="/gif/up.png" alt="Up!" border="0">
                                <span>
                                <img src ="/gif/sam.gif" style="float:center;" />
                            </span>
                            </a>
                        </button>
                        <input type="hidden" name="question_id" value="<%=question.id%>">
                    </form>

                </div>
                <div class="number-of-votes">
                    <%=question.get_total_votes%>
                </div>
                <div class="downvote">
                    <form class="downvote" action="/questions/<%=question.id%>/downvote" method="post">
                        <button type="submit" name="thumbsdown">
                            <a href="#" class="tooltip"><img src="/gif/down.png" alt="Up!" border="0">
                                <span>
                                <img src ="/gif/kane.gif" style="float:center;" />
                            </span>
                            </a>
                        </button>
                        <input type="hidden" name="question_id" value="<%=question.id%>">
                    </form>
                </div>
            </div>
            <a href="/questions/<%=question.id%>">
                <%= question.title %>
            </a>
        </div>
        <% end %>
</right>
