
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

  <div class="container">

		<label for="">TOTAL COUNT: <%=@question.get_total_votes%> </label>
    <h4><%= @question.title %></h4>

    <label for="">Question detail: </label>
		<p><%= @question.body_question %></p>

    <div class="answer place">

      <ul>
  			<%@question.comments.each do |comment| %>
  			<label for="">Question comments:</label>
          <li><%= comment.body_comment %></li>
          <form class="" action="/questions/<%=@question.id%>/comments/<%=comment.id%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="question_id" value="<%=@question.id%>">
            <input type="hidden" name="comment_id" value="<%=comment.id%>">
            <input type="submit" name="" value="delete">
          </form>
        <%end%>
        <br>
        <br>
        <a href="/questions/<%=@question.id%>/comments/new">Add Comment</a>

      </ul>

    </div>

<div class="container">
  <br>
  <label for="">Question:</label><h1><%= @question.title %></h1>
  <label for="">More details:</label>
  <br>
  <%= @question.body_question %>
  <br><br>
  <small>[<%=@question.get_total_votes%> Votes]</small>
  <br><br>
  <a href="/questions/<%=@question.id%>/comments/new">Add Comment</a>
  <ul>
    <small>Question comments:</small>
    <% @question.comments.each do |comment| %>
      <li><label for="">
         <%= comment.body_comment %> - Author</label></li>
    <%end%>
  </ul>
</div>

<% if @question.answers.any? %>
  <div class="container">
    <h1>All Answers</h1>
      <a href="/questions/<%= @question.id %>/answers/new">Post An Answer</a>
    <% @question.answers.each do |answer| %>
    <br>
    <label for=""> Answer: </label>
    <br>
    <%= answer.body_answer %><br>
    <small>[<%= answer.get_total_votes %> Votes]</small>
    <br>

    <% end %>

  </div>

<a href="/questions/<%=@question.id%>/answers/new">Post An Answer</a>

<%if @question.answers.any? %>
	<div class="container">
		<%@question.answers.each do |answer| %>
		<div class="">
      <label for="">Answer:</label>
      <p> TOTAL COUNT<%= answer.get_total_votes %></p>
    </div>
		<h1><%= answer.body_answer %></h1>
    <ul>
      <%if answer.comments.any? %><%answer.comments.each do |comment| %>
      <li> <%= comment.body_comment %></li>
      <form class="" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/comments/<%=comment.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="question_id" value="<%=@question.id%>">
        <input type="hidden" name="answer_id" value="<%=answer.id%>">
        <input type="hidden" name="comment_id" value="<%=comment.id%>">
        <input type="submit" name="" value="delete">
      </form>
      <%end %>
    </ul>
    <%end %>
		<a href="/answers/<%=answer.id%>/comments/new">Add Comment</a>
    <%end %>
	</div>
<%end %>

</body>
</html>
