<div class="">
    <h1>&nbsp;<%= current_user.username %>'s Profile</h1>
    <br>
    <div class="questions_asked">
        <h5>&nbsp; <%= current_user.questions.length %> Questions Asked</h5>
        <% current_user.questions.each do |question| %>
            &nbsp;<a href="/questions/<%=question.id%>">
                <%= question.title %>
                    <br>
                    <br> </a>
            <% end %>
    </div>

    <div class="Answers">
        <h5>&nbsp; <%= current_user.answers.length %> Answer's Given</h5>
        <% current_user.answers.each do |answer| %>
            &nbsp;<a href="/questions/<%=answer.id%>">
                <%= answer.body_answer %>
                    <br>
                    <br> </a>
            <% end %>
    </div>
</div>
